{% extends "layouts/layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('public', path='stylesheets/market.css') }}">
    <script type="application/javascript" src="{{ url_for('public', path='scripts/form.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('public', path='scripts/cart.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="grid">
        {% for flower in flowers %}
        <section>
            <img src="{{ url_for('public', path='images/' + flower.image) }}" alt="{{flower.name}}" />
            <p><span class="flowerName">{{flower.name}}</span> (Category: {{flower.category.name}})</p>
            <p>{{flower.description}}</p>
            <div>
                <input id="{{'i-'~flower.id}}" type="text" value="0" onchange="checkInputNumber('{{'i-'~flower.id}}', '{{'q-'~flower.id}}')" />
                <p>/ <span id="{{'q-'~flower.id}}">{{flower.quantity}}</span></p>
                <button class="btn submit" onclick="store.addToCart({{flower.id}})">Add to cart</button>
            </div>
            <p id="{{'e-'~flower.id}}" class="error-message" style="display: none">The available quantity has changed.</p>
        </section>
        {% endfor %}
    </div>
{% endblock %}
